/** Base styles **/
body{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}
*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;

}
h1{
    font-size: 1.75em;
    text-align: center;
    margin-top: 2em;
}
h1, .food-title{
    font-family: Cabin;
}

.row{
    margin-top: 3em;
}

/***Styles for the wrapper div ****/
.item{
    border: 2px solid #000;
    position: relative;
    padding: 0px 15px;
    margin-bottom: 2em;
    background: #ddd;
    margin-left: 1em;
    margin-right: 1em;

}

/*** Styles for the title  ***/
.food-title{
    position: absolute;
    padding: 6px 20px;
    border-left: 2px solid #000;
    border-bottom: 2px solid #000;
    top:0;
    right:0;
    font-weight: 700;
    font-size: 1.25em;
    text-align: center;
    color: #eee;
}
.first{
    background: #F64747;
}
.second{
    background: #cf000f;
}
.third{
    background: #E74C3C;
}
p{
    padding-top: 10%;
    font-size: 1em;
}
/*** media queries for mobile ***/
@media (max-width: 767px){
    .row{
        width: 100%;
    }
    .col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12{
        float:left;
    }
    .col-xs-1{
        width: 8.33%;
    }
    .col-xs-2{
        width: 16.66%;
    }
    .col-xs-3{
        width: 25%;
    }
    .col-xs-4{
        width: 33.33%;
    }
    .col-xs-5{
        width: 41.66%;
    }
    .col-xs-6{
        width: 50%;
    }
    .col-xs-7{
        width: 58.33%;
    }
    .col-xs-8{
        width: 66.66%;
    }
    .col-xs-9{
        width: 75%;
    }
    .col-xs-10{
        width: 83.33%;
    }
    .col-xs-11{
        width: 91.66%;
    }
    .col-xs-12{
        width: 100%;
    }

}


/***** Styles for tablets   ******/
@media (min-width: 768px) and (max-width: 991px){
    .row{
        width: 100%;
    }
    .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12{
        float:left;
    }
    .col-sm-1{
        width: 8.33%;
    }
    .col-sm-2{
        width: 16.66%;
    }
    .col-sm-3{
        width: 25%;
    }
    .col-sm-4{
        width: 33.33%;
    }
    .col-sm-5{
        width: 41.66%;
    }
    .col-sm-6{
        width: 50%;
    }
    .col-sm-7{
        width: 58.33%;
    }
    .col-sm-8{
        width: 66.66%;
    }
    .col-sm-9{
        width: 75%;
    }
    .col-sm-10{
        width: 83.33%;
    }
    .col-sm-11{
        width: 91.66%;
    }
    .col-sm-12{
        width: 100%;
    }

}

/*********** Styles for desktop *****************/

@media (min-width: 992px){
    .row{
        width: 100%;
    }
    .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12{
        float:left;
    }
    .col-md-1{
        width: 8.33%;
    }
    .col-md-2{
        width: 16.66%;
    }
    .col-md-3{
        width: 25%;
    }
    .col-md-4{
        width: 33.33%;
    }
    .col-md-5{
        width: 41.66%;
    }
    .col-md-6{
        width: 50%;
    }
    .col-md-7{
        width: 58.33%;
    }
    .col-md-8{
        width: 66.66%;
    }
    .col-md-9{
        width: 75%;
    }
    .col-md-10{
        width: 83.33%;
    }
    .col-md-11{
        width: 91.66%;
    }
    .col-md-12{
        width: 100%;
    }

}
